@media (max-width: 375px) {

    .text_fulano {
        font-size: 3.2vw;
    }

    .nav-button {
        font-size: 10vw;
    }

    .item {
        height: 90vw;
        min-width: 250px;
    }

    .nav-button {
        margin-bottom: 20vw;
    }

}