

/*desktops*/
@media (min-width: 1080px) {
    .sec-passos .title h2 {
        font-size: 25px;
    }

    .sec-passos .pas {
        width: 23vw;
        height: 22vw;
    }

    .sec-passos .bar {
        width: 21.5vw;
    }

}

/*telas muito grande*/
@media (min-width: 1366px) {
    .sec-passos .pas {
        width: 300px;
        height: 240px;
    }

    .sec-passos .bar {
        width: 285px;
    }
}



@media (max-width: 830px) {
    .sec-passos .text-title {
        font-size: 2vw;
    }

    .sec-passos .text-descri {
        font-size: 2vw;
    }

    .sec-passos .pas {
        width: 26vw;
    }
}


@media (max-width: 768px) {
    .passos-abrir-empresa-desktop {
        display: none !important;
    }

    .passos-abrir-empresa {
        display: flex !important;
    }

    .sec-passos {
        padding: 17px 27px;
    }

    .sec-passos .pas {
        width: 74vw;
        padding: 0px 15px;
        gap: 30px;
    }

    .sec-passos .title h2 {
        font-size: 25px;
        width: auto;
    }

    .sec-passos .bar {
        width: 25vw;
    }

    .sec-passos .text-title {
        font-size: 20px;
    }

    .sec-passos .text-descri {
        font-size:20px;
    }

    .sec-passos .numPas {
        padding: 5px 11px;
        font-size: 4vw;
    }
    

}


@media (max-width: 550px) {
    .sec-passos .numPas {
        padding: 5px 11px;
        font-size: 5vw;
    }

    .sec-passos .text-title {
        font-size: 5vw;
    }

    .sec-passos .text-descri {
        font-size: 5vw;
    }
}

@media (max-width: 450px) {
    .step i {
        font-size: 24px;
    }

    .sec-passos .step, .sec-passos .numPas {
        padding: 13px 10px;
    }

    .sec-passos .numPas {
        padding: 4px 10px;
    }

    .sec-passos .text-title {
        font-size: 6vw;
    }
}

@media (max-width: 390px) {
    .sec-passos .pas {
       height: 250px;
    }

    .sec-passos .step, .sec-passos .numPas {
        padding: 10px 16px;
    }
}