



/* Para telas muito grandes (monitores ultrawide, 4K, etc.) */
@media (min-width: 1440px) {
    body {
        font-size: 18px;
        /* Outros ajustes para telas muito grandes */
    }

    .car-texts1 {
        height: 44vh;
    }

    .card-serv-open {
        height: 38vh;
    }
}



@media (min-width: 1025px) {
    .sec-servis  .btn_white {
        font-size: 22px;
    }
}

@media (max-width: 1340px) {
    .sec-servis h2 {
        font-size: 3.2vw;
    }
}




@media (max-width: 1230px) {
    .card-serv-title {
        font-size: 1.8vw;
    }
}



@media (max-width: 1025px) {
    .card-serv-open {
        height: 22vw;
    }

    .card-serv-text {
        font-size: 1.55vw;
    }

    .sec-servis .btn_white {
        font-size: 22px;
    }

}



/* Para tablets e dispositivos de tamanho médio */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 15px;
        /* Outros ajustes para dispositivos médios */
    }
}



/* Para telas pequenas (celulares) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        /* Outros ajustes para telas pequenas */
    }

    .sec-servis h2 {
        font-size: 6.8vw;
    }

    .card-01,
    .card-02 {
        display: none;
    }

    .card-serv-mobile.csv-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 25px 0px;
        padding: 15px;
        box-shadow: #00000057 -1px 4px 8px 0px;
    }

    .card-serv-title {
        font-size: 3.35vw;
    }

    .car-textmobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-serv-text {
        font-size: 3.25vw;
        text-align: center;
    }

    .icons {
        font-size: 10vw;
    }


}


@media (max-width: 550px) {
    .sec-servis h2 {
        font-size: 7.8vw;
 
    }
}


@media (max-width: 450px) {
    .card-serv-title {
        font-size: 4.35vw;
    }

    .card-serv-text {
        font-size: 4.25vw;
        text-align: center;
    }
}