/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-size: 16px;
    background-color: #f0f0f0;
    /* Outros estilos globais */
}

:root {
    --base1: #01044e;
    --base3: #ed8534;
    --base4: #ffffff;
    --base5: #000000;
    --base6: #d9d8d5;
    --base7: #fdbe01;
    --textsWhite: #ffffff;
    --colorNone: #4a4a4a;
}

@-webkit-keyframes pulseButton {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1)
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1)
    }
}

@keyframes pulseButton {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1)
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1)
    }
}


header {
    background: -o-linear-gradient(94deg, var(--base1), var(--base5));
    background: linear-gradient(356deg, var(--base1), var(--base5));
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
}

header .particles {
    width: 100%;
    height: 100%;
    position: absolute;
}

header canvas.particles-js-canvas-el {
    position: absolute;
    z-index: 0;
}

header .centro {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.esquerdo,
.direito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 3vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--textsWhite);
    height: 57vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

img.frame1 {
    width: 54vw;
    top: 30px;
    position: relative;
}


.logo {
    width: 25vw;
}

.esquerdo {
    gap: 2vw;
}

h1,
h1 span {
    font-size: 2.9vw;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 1.9vw;
    font-style: italic;
    text-align: center;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    gap: 1vw;
}

.name-email-layer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1vw;
}

.lay-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1vw;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.lay-email input {
    width: -webkit-fill-available;

}

header form input {
    padding: 0.3vw;
    background-color: var(--base4);
    border-style: none;
    outline: none;
    color: var(--base1);
    border-radius: 3px;
    font-size: 1.8vw;
    width: 16vw;
}

header form input[type="submit"] {
    background-color: var(--base7);
    color: var(--textsWhite);
    border-style: none;
    cursor: pointer;
    outline: none;
    color: var(--base1);
    font-weight: bold;
}

header form input[type="submit"]:hover {
    background-color: #dbbc09;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}


/*-------------Section passos-----------*/
.sec-passos {
    background-image: url('./../imgs/bg-01.png');
    background-size: cover;
}


h3,
h3 b {
    font-size: 3vw;
    text-align: center;
    text-transform: uppercase;
    color: var(--base1);
    font-weight: bold;
}

.sec-passos .passos-abrir-empresa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sec-passos .step-progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sec-passos .step,
.sec-passos .numPas {
    border-style: solid;
    border-color: #474750;
    border-radius: 100px;
    padding: 5px 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sec-passos .step:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
}

.sec-passos .bar {
    width: 80px;
    height: 10px;
    background-color: #474750;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sec-passos .bar:hover {
    background-color: #02033e;
}

.sec-passos .os-passos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0px;
}

.sec-passos .pas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    border-radius: 10px;
    padding: 20px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: #0000003d 0px 0px 10px 0px;
            box-shadow: #0000003d 0px 0px 10px 0px;
    margin: 18px 0px;
    width: 84%;
    background-color: var(--base4);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.sec-passos .numPas {
    padding: 5px 10px;
}

.sec-passos .text-title {
    font-size: 22px;
    font-weight: bold;
}

.sec-passos .lay_btn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
}

.btn_white {
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    background-color: var(--base1);
    color: var(--textsWhite);
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 10px;
    -webkit-animation: pulseButton 2s infinite;
            animation: pulseButton 2s infinite;
    cursor: pointer;
    font-weight: bold;
    font-size: 2vw;
}

.sec-passos .passos-abrir-empresa {
    display: none;
}

.sec-passos .passos-abrir-empresa-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@-webkit-keyframes pulsededo {
    0% {
        -webkit-transform: scale(1) rotate(332deg);
                transform: scale(1) rotate(332deg);

    }

    50% {
        -webkit-transform: scale(1.1) rotate(332deg);
                transform: scale(1.1) rotate(332deg);

    }

    100% {
        -webkit-transform: scale(1) rotate(332deg);
                transform: scale(1) rotate(332deg);

    }
}

@keyframes pulsededo {
    0% {
        -webkit-transform: scale(1) rotate(332deg);
                transform: scale(1) rotate(332deg);

    }

    50% {
        -webkit-transform: scale(1.1) rotate(332deg);
                transform: scale(1.1) rotate(332deg);

    }

    100% {
        -webkit-transform: scale(1) rotate(332deg);
                transform: scale(1) rotate(332deg);

    }
}

.sec-passos .fa-hand-pointer {
    display: none;
    position: absolute;
    font-size: 40px;
    -webkit-transform: rotate(332deg);
        -ms-transform: rotate(332deg);
            transform: rotate(332deg);
    margin: -36px -10px;
    color: var(--base1);
    -webkit-animation: pulsededo 700ms infinite;
            animation: pulsededo 700ms infinite;
}




.sec-passos .passos-abrir-empresa {
    display: none;
}

.sec-passos .passos-abrir-empresa-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sec-passos .bar {
    background-color: var(--base1);
}

section {
    padding: 50px 5px 0px 5px !important;
}

.sec-passos .os-passos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.sec-passos .pas {
    gap: 1vw;
    width: 85%;
    margin: 1vw 2vw;
    z-index: 0;
    background-color: var(--base4);
    width: 22vw;
    height: 22vw;
}

.sec-passos .text-title {
    font-size: 1.7vw;
}

.sec-passos .text-descri {
    font-size: 1.6vw;
    color: var(--colorNone);
}

.step i {
    font-size: 23px;
    width: 32px;
    text-align: center;
    color: var(--base1);
}

.sec-passos .step,
.sec-passos .numPas {
    border-color: var(--base1);
}

.sec-passos .step-progress {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.sec-passos .step {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    cursor: pointer;
    background-color: var(--base4);
    z-index: 1;
}

.sec-passos .step,
.sec-passos .numPas {
    padding: 14px 10px;
    background-color: var(--base4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.lin,
.lin-3 {
    width: 10px;
    background-color: var(--base1);
    height: 52px;
    position: relative;

    z-index: 0;
    right: 38px;
    top: 30px;
}

.lin-3 {
    height: 72px;
    top: 39px;
}

.sec-passos .numPas {
    padding: 5px 10px;
    font-size: 1.5vw;
}

.sec-passos .bar {
    width: 20vw;
}

.sec-passos .bar-3 {
    width: 0px;
}

.pas1,
.pas2 {
    top: 0;
    position: relative;
}

/*===============================================*/



/*------------section persuasivo---------------*/

.per-direito,
.per-esquerdo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px 0px 50px;
}


.sec-persuasivo {
    background-image: url('./../imgs/bg-02.png');
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
}

.sec-persuasivo .lay_btn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
}

.ajust-svg {
    width: 100%;
    height: 30px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.elementor-shape-fill {
    fill: #f0f0f0;
}

.per-ajust {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.per-h3,
.per-h3 b {
    color: var(--colorNone);
    text-transform: uppercase;
    margin: 0px;
    text-align: start;
}

.per-h3 b {
    color: var(--base1);
}

.lay-frame2 {
    width: 45vw;
    height: 40vw;
}



.frame-2 {
    background-image: url(../imgs/frame-2-desktop.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
    right: 4vw;
    position: relative;
}

.lay-pers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    padding: 0px 50px 0px 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.text1-pers span,
.text2-pers p {
    color: var(--colorNone);
    font-size: 1.7vw;
}

i.fa-solid.fa-circle-check {
    font-size: 2vw;
}

.text2-pers div:nth-child(1) {
    margin-bottom: 3vw;
}

.text2-pers span {
    color: var(--base1);
    font-weight: bold;
    font-size: 2vw;
}

/*======================================*/

/*serviços----------------------*/

#animatedText {
    min-height: 7vw;
}

._256 {
    margin-bottom: 30px;
}

._578,
._579 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
}

._888 {
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 45px;
}

.img1 {
    width: 100%;
    background-color: #01044e17;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;
}

i.fa-solid.fa-rocket.icons,
.fa-magnifying-glass-chart,
.fa-person-burst,
.fa-toolbox,
.fa-headset,
.fa-file-invoice-dollar {
    font-size: 3.5vw;
    color: var(--base1);
}

.card-serv1 {
    width: 100%;
    height: 0vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 14px;
    -webkit-box-shadow: #00000017 -1px 2px 5px 1px;
            box-shadow: #00000017 -1px 2px 5px 1px;
    border-radius: 0px 0px 10px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    overflow: hidden;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    background-color: var(--base4);
}

span.card-serv-title {
    font-size: 1.5vw;
    font-weight: bold;
    margin: 11px 0px;
}

p.card-serv-text {
    font-size: 1.3vw;
    color: var(--colorNone);
}


._889 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}

.card-serv2 {
    width: 100%;
    height: 0vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 14px;
    -webkit-box-shadow: #00000017 0px -5px 10px 1px;
            box-shadow: #00000017 0px -5px 10px 1px;
    border-radius: 10px 10px 0px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    overflow: hidden;
    margin: 15px 0px 0px 0px;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    background-color: var(--base4);
}


.card-serv-open {
    height: 14vw;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.lay_btn {
    text-align: center;
}


._257 {
    display: none;
}

/*=============================*/


/*Vantagens-------------*/
.sec-vantag {
    background-image: url('./../imgs/bg-01.png');
    background-size: cover;
}

h4 {
    text-align: center;
    font-size: 22px;
    color: var(--colorNone);
}

.sec-vantag .vanteg-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 12px 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.sec-vantag .vanteg-card {
    background-image: url(./../imgs/logo-azul-opacity_10.png);
    background-repeat: no-repeat;
    background-position-x: -95px;
    background-position-y: 10px;
    background-size: 213px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    text-align: center;
    -webkit-box-shadow: #05084e38 0px 0px 14px 0px;
            box-shadow: #05084e38 0px 0px 14px 0px;
    border-radius: 10px;
    margin: 20px 20px;
    background-color: var(--base4);
    width: 25vw;
    height: 20vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.sec-vantag .vanteg-card i {
    font-size: 3.5vw;
    margin: 15px 0px;
    color: var(--base1);
}

.sec-vantag .vanteg-card span {
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--base1);
}


.sec-vantag .vanteg-card p {
    font-size: 1.3vw;
    margin: 15px 0px;
    color: var(--colorNone);
    font-weight: bold;
}

/*========================*/

/*clietes----*/

.carousel-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

.carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    padding: 5vw;
    position: relative;
}

.carousel-item {
    width: 100%;
    opacity: 0.3;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f4f4f4;
    width: 25vw;
    height: 25vw;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: #0000004f 0px 0px 8px 0px;
            box-shadow: #0000004f 0px 0px 8px 0px;
}

.ft_fulano {
    width: 5vw;
    border-radius: 50vw;
    border-style: solid;
    border-color: var(--base1);
    border-width: 4px;
}

.name_fulano {
    font-size: 1.1vw;
    font-weight: bold;
    border-bottom-style: solid;
    border-block-width: 1px;
    border-bottom-color: var(--base3);
    margin-bottom: 8px;
}

.star {
    color: yellow;
    font-size: 22px;
    text-shadow: 0 0 4px black;
}

.text_fulano {
    font-size: 1vw;
    color: var(--colorNone);
}

.empre_fulano {
    font-size: 1.1vw;
}

.carousel-item.center {
    opacity: 1;
    margin: 0 5vw;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-button {
    position: absolute;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10; /* Garantir que esteja acima dos itens do carrossel */
    font-size: 40px;
    background: none;
   
    color: rgb(20 32 106);
}

.prev {
    left: 2vw;
    -webkit-transform:  rotate(90deg);
        -ms-transform:  rotate(90deg);
            transform:  rotate(90deg);
}

.next {
    right: 2vw;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

.client-chamada {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2vw;
}

.sp1{
    font-weight: bold;
    font-size: 30px;
}

.sp1 .sp2{
    font-size: 22px;
}

/*======================*/

/*perguntas----*/

.accordion-item.expanded .accordion-content {
    display: block;
}

.accordion {
    border-radius: 5px;
    margin: 20px 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.accordion-item {
    border-top: 1px solid #ccc;
    width: 75%;
}

.accordion-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
}

.accordion-title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #0d0a64;
}

.accordion-icon {
    font-size: 1.2em;
    color: #888;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.accordion-content {
    padding: 10px;
    display: none;
}

.farrr {
    color: var(--base1);
}

.accordion-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6A6972;
    margin: 0;
    font-family: 'arial';
}