/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (min-width: 768px) and (min-height: 1024px) {
    ._256 {
        display: none;
    }

    ._257 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    ._578, ._579 {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .card-serv-open {
        height: 20vw;
    }

    ._888 {
        width: 275px;
        margin: 20px 30px;
    }

    
    span.card-serv-title {
        font-size: 1.9vw;
    }

    p.card-serv-text {
        font-size: 1.8vw;
    }

    .item {
        width: 30vw;
        height: 45vw;
    }

    .name_fulano {
        font-size: 1.9vw;
    }

    .text_fulano {
        font-size: 1.6vw;
    }

    .empre_fulano {
        font-size: 1.5vw;
    }

    .ft_fulano {
        width: 7vw;
    }

    .accordion-title {
        text-align: start;
    }

    .accordion-content p {
        font-size: 19px;
    }

    .accordion-item {
        width: 85%;
    }
}