/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.wapp {
    position: fixed;
    right: 13px;
    bottom: 70px;
    width: 15vw;
    height: 15vw;
    background-image: url(https://controllerconsultores.com.br/assets/imgs/wpp.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    display: inline;
    z-index: 1000;
    cursor: pointer;
    -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
            transform: translateX(100px);
}

@media (min-width: 540px) {
    .wapp {
        width: 70px;
        height: 70px;
    }
}

@media (min-width: 768px) {
    .wapp {
        width: 70px;
        height: 70px;
    }
}


@media (min-width: 1024px) {
    .wapp {
        width: 60px;
        height: 60px;
        right: 6px;
        bottom: 70px;
    }
}


@media (min-width: 1024px) and (min-height: 1366px) {
    .wapp {
    

        width: 90px;
        height: 90px;
        right: 6px;
        bottom: 100px;
    }
}


@media (min-width: 1920px) {
    .wapp {
        width: 4vw;
        height: 4vw;
    }
}


.pop {
    background: #0000004f;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    display: none;
}

.lay_whats {
    right: 2vw;
    bottom: 10vw;
    position: absolute;
    width: 37vw;
    background-color: #ffffff;
}

.lay_whats .text {
    background-color: #265c54;
    padding: 2vw;
    color: white;
    font-family: 'Arial';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.lay_whats .text span {
    max-width: 25vw;
    font-size: 1.23vw;
}

.fa-times {
    cursor: pointer;
}

.lay_whats .abertura_de_empresa_pop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1vw;
    width: auto;
    background-color: #ebe5de;
}

.lay_whats .abertura_de_empresa_pop .nameTelefone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}



.lay_whats .abertura_de_empresa_pop .nameTelefone .nn, .lay_whats .abertura_de_empresa_pop .nameTelefone .tt, .lay_whats .abertura_de_empresa_pop .mail .ee {
    color: #000000;
    font-family: Open Sans, sans-serif;
    font-size: 1.2vw;
    background-color: #fdfdfd;
    border-style: solid;
    border-color: #cacaca;
    border-radius: .384vw;
    border-width: .077vw;
    width: 33vw;
    outline: none;
}

.nn {
    padding: .8vw;
    width: 100%;
    background-color: #001930;
    border-width: 0 0 0 0;
    border-radius: 11vw;
    margin-bottom: 1vw;
    color: white;
    margin-right: .8vw;
}

.telselect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.select2-container {
    position: absolute;
}

.country-image {
    top: 50%;
    left: calc(50% - 10px);
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 3vw;
    outline: none;
}

#countrySelect {
    padding-left: 4vw;
    width: 5.5vw;
    height: 3.1vw;
    outline: none;
}


span.code {
    position: relative;
    left: 6vw;
    top: .9vw;
    font-size: 1.23vw;
}

.abertura_de_empresa_pop .nameTelefone .tt {
    padding-left: 6.5vw;
}
.tt {
    padding: .8vw;
    width: 100%;
    background-color: #001930;
    border-width: 0 0 0 0;
    border-radius: 11vw;
    margin-bottom: 1vw;
    color: white;
}

.mail {
    max-width: 96.5%;
}

.ee {
    padding: .8vw;
    width: 100%;
    background-color: #001930;
    border-width: 0 0 0 0;
    border-radius: 11vw;
    margin-bottom: 1vw;
    color: white;
}



.envi {
    background-color: royalblue;
    width: 100%;
    outline: none;
    border-radius: 10vw;
    margin: auto;
    border-style: none;
    color: white;
    padding: .8vw;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}


.envi_pop {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    background-color: rgba(83, 164, 81, 1);
    border-bottom-style: none;
    border-color: #000000;
    border-left-style: none;
    border-radius: .4vw;
    font-family: Open Sans, sans-serif;
    height: 3.689vw;
    margin-top: 1vw;
    max-width: 33vw;
    font-size: 1.5vw;
}

.envi_pop:hover {
    background-color: rgb(45, 143, 43);
    color: var(--base1);
    cursor: pointer;
}

@media (max-width: 768px) {
    
    .lay_whats {
        position: absolute;
        right: 3vw;
        bottom: calc(50vh - 41vw);
        width: 93vw;
    }

    .lay_whats .text span {
        max-width: 75vw;
        font-size: 4.444vw;
    }

    .lay_whats .abertura_de_empresa_pop {
        padding: 4vw;
    }

    .lay_whats .abertura_de_empresa_pop .nameTelefone .nn, .lay_whats .abertura_de_empresa_pop .nameTelefone .tt, .lay_whats .abertura_de_empresa_pop .mail .ee {
        font-size: 3.889vw;
        border-radius: 1.389vw;
        border-width: .077vw;
        width: 77vw;
    }

    .country-image {
        top: 50%;
        left: calc(50% - 6px);
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 9vw;
        outline: none;
    }

    #countrySelect {
        padding-left: 14vw;
        width: 15.5vw;
        height: 12.59vw;
    }


    span.code {
        position: relative;
        left: 23vw;
        font-size: 4vw;
        top: 11vw;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    .mail {
        max-width: 100%;
    }

    div.pop>div>form.abertura_de_empresa_pop>button.envi {
        -ms-flex-align: center;
        -ms-flex-direction: column;
        -ms-flex-pack: center;
        background-color: rgba(83, 164, 81, 1);
        border-bottom-style: none;
        border-color: #000000;
        border-left-style: none;
        border-radius: 1.389vw;
        font-family: Open Sans, sans-serif;
        height: auto;
        margin-top: 1vw;
        max-width: 72vw;
        font-size: 4vw;
    }

    .envi {
        background-color: royalblue;
        width: 100%;
        outline: none;
        border-radius: 10vw;
        margin: auto;
        border-style: none;
        color: white;
        padding: 4.8vw;
        -webkit-transition: 200ms;
        -o-transition: 200ms;
        transition: 200ms;
    }

    .abertura_de_empresa_pop .nameTelefone .tt {
        padding-left: 20.5vw;
    }

    .nn, .tt, .ee {
        padding: 3.8000000000000007vw;
        width: 90%;
        background-color: #001930;
        border-width: 0 0 0 0;
        border-radius: 11vw;
        margin-bottom: 1vw;
        font-size: 5vw;
        color: white;
    }

}

 /* Adiciona um estilo básico à notificação */
 .cookie-notification {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    z-index: 1000;
    display: none; /* Começa oculto */
  }

  .cookie-notification button {
    background-color: #00b300;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }

  .cookie-notification button:hover {
    background-color: #009900;
  }